.notes-page{
  min-height:100vh;
  padding:120px 24px 40px;
}

.notes-wrapper{
  max-width:1450px;
  margin:0 auto;
}

.notes-layout{
  display:grid;
  grid-template-columns:1fr 430px;
  gap:20px;
}

.notes-left,
.notes-right{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.notes-card{
  background:rgba(12,12,24,.78);
  border:1px solid rgba(255,255,255,.06);
  border-radius:24px;
  padding:22px;
  backdrop-filter:blur(16px);
}

.notes-card h3{
  color:#fff;
  font-size:30px;
  margin-bottom:18px;
}

.notes-left .notes-card{
  min-height:720px;
}

.notes-left form{
  height:100%;
  display:flex;
  flex-direction:column;
}

.notes-left input,
.notes-left textarea{
  width:100%;
  border:none;
  outline:none;
  border-radius:16px;
  padding:14px 16px;
  background:rgba(255,255,255,.04);
  color:white;
  margin-bottom:14px;
}

.notes-left textarea{
  flex:1;
  resize:none;
  min-height:520px;
}

.notes-left button{
  height:52px;
  border:none;
  border-radius:16px;
  color:white;
  font-weight:700;
  cursor:pointer;
  background:linear-gradient(135deg,#24104f,#312e81,#3730a3);
}

.notes-left button:hover{
  box-shadow:0 0 18px rgba(67,56,202,.25);
}

.mood-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

.mood-card{
  min-height:100px;
  border-radius:18px;
  background:rgba(255,255,255,.03);
  border:1px solid rgba(255,255,255,.05);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.mood-card.selected{
  background:linear-gradient(135deg,#24104f,#312e81);
}

.emoji{
  font-size:28px;
  margin-bottom:6px;
}

.mood-card p{
  color:white;
  font-size:14px;
}

.notes-right .notes-card:last-child{
  min-height:350px;
  overflow-y:auto;
}

.note-item{
  padding:14px;
  border-radius:16px;
  background:rgba(255,255,255,.03);
  margin-bottom:12px;
  display:flex;
  justify-content:space-between;
  gap:12px;
}

.note-content h3{
  font-size:16px;
  color:white;
  margin-bottom:8px;
}

.note-content p{
  color:#d7daf8;
  font-size:14px;
}

.note-date{
  color:#8f94c7;
  font-size:12px;
}

.delete-btn{
  width:40px;
  height:40px;
  border:none;
  border-radius:12px;
  background:rgba(255,255,255,.04);
  color:white;
  cursor:pointer;
}

.empty-text{
  color:#9ea4d4;
  text-align:center;
  padding:24px 0;
}

@media(max-width:980px){
  .notes-layout{
    grid-template-columns:1fr;
  }

  .notes-left .notes-card{
    min-height:auto;
  }

  .notes-left textarea{
    min-height:260px;
  }
}